@import "../../../assets/scss/colorVariables";

.input-group {
  border-radius: 0.8rem;
  box-shadow: 0 10px 30px rgba($blue, 0.2);

  .form-control {
    border-radius: 0.8rem;
    padding: 0.575rem 15px;
    width: 100%;
    height: 60px;

    &::-webkit-input-placeholder {
      color: $gray-300;
    }

    &::-moz-placeholder {
      color: $gray-300;
    }

    &:-ms-input-placeholder {
      color: $gray-300;
    }

    &::-ms-input-placeholder {
      color: $gray-300;
    }

    &::placeholder {
      color: $gray-300;
    }
  }
}
